math-field::part(container) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

math-field::part(content) {
  flex: 1;
}

math-field::part(virtual-keyboard-toggle),
math-field::part(menu-toggle) {
  display: block;
}